<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## Introduction
### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives covered

+ Popular languages for Data Science
+ Commonly used libraries in Data Science
+ Data Science Tools
+ arithamatic expressions
+ Creating Table with single column
+ Creating orderd and unordered lists

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

### Data Science tools

|Data Science Tools | 
| ------ |
| MySQL |
|PostgreSQL |
| IBM DB2 |
| Cognos Analytics  |
| PowerBI  |
| Tableau  |
| Git Hub  |
| Jupyter Notebooks  |
| RStudio  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
 2 * 4 + 5

13

In [5]:
5 % 2

1

In [6]:
5//3

1

In [7]:
8 * (4/2) - 1

15.0

In [8]:
#  multiply and add numbers.
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [9]:
# This code below will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

### Author Name
#### Mallikarjuna Reddy